@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Itim&family=Pangolin&family=Patrick+Hand&family=Permanent+Marker&family=Sigmar+One&display=swap');

/* 
font-family: 'Sigmar One', cursive;
font-family: 'Contrail One', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Pangolin', cursive;
*/

:root {
  --hero-color: rgb(22, 13, 1);
  --title-color: antiquewhite;
  --flame: rgb(141, 53, 40);
  --menu-color: rgb(255, 250, 243);
  --menu-text-color: black;
  /* --menu-color: rgb(149, 90, 84); */
  /* --menu-text-color: antiquewhite; */
}

html,
body {
  background-color: var(--hero-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.hero {
  background-color: var(--hero-color);
}
#menu {
  background: black url(../public/cutting-board.jpg) center / cover;
  background-attachment: fixed;
}

.main-title {
  font-family: 'Sigmar One', cursive;
  color: var(--title-color);
}

.main-subtitle {
  font-family: 'Sigmar One', cursive;
  color: var(--title-color);
}
.flame {
  color: rgb(141, 53, 40);
}

.horizontal-rule {
  border-style: solid;
  background-color: var(--flame);
  height: 0.8rem;
  border: none;
}

.box {
  background-color: var(--menu-color);
  color: var(--menu-text-color);
  /* font-family: 'Contrail One', cursive; */
  /* font-family: 'Patrick Hand', cursive; */
  /* font-family: 'Pangolin', cursive; */
  font-family: 'Itim', cursive;
}
.box h6 {
  font-family: 'Permanent Marker', cursive;
}
/* .box ul {
  font-family: 'Permanent Marker', cursive;
  list-style-type: '-';
} */
.box p {
  padding-left: 1.5em;
  text-indent: -1.5em;
}
.box p::before {
  content: '- ';
  font-size: 0.7s5em;
}
